@model HoteliTest.Models.TipSobe

@{
    ViewBag.Title = "Delete";
}

<h2>Obriši</h2>

<h3>Jeste li sigurni da želite obrisati Tip Sobe?</h3>
<div>
    <h4>TipSobe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OpisSobe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpisSobe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CijenaPoNoci)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CijenaPoNoci)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" /> |
            @Html.ActionLink("Obriši", "Index")
        </div>
    }
</div>
