<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Omega Hoteli</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Omega Hoteli", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Hotel", "Index", "Hotel")</li>
                    <li>@Html.ActionLink("Gost", "Index", "Gost")</li>
                    <li>@Html.ActionLink("Tip sobe", "Index", "TipSobe")</li>
                    <li>@Html.ActionLink("Soba", "Index", "Soba")</li>
                    <li>@Html.ActionLink("Usluga", "Index", "Usluga")</li>
                    <li>@Html.ActionLink("Rezervacija", "Index", "Rezervacija")</li>
                    <li>@Html.ActionLink("Racun", "Index", "Racun")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Omega Hoteli</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
