@model HoteliTest.Models.Usluga

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usluga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CijenaUsluge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CijenaUsluge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImeUsluge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImeUsluge)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UslugaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
