@model IEnumerable<HoteliTest.Models.Usluga>

@{
    ViewBag.Title = "Index";
}

<h2>Usluga</h2>

<p>
    @Html.ActionLink("Nova Usluga", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CijenaUsluge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImeUsluge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CijenaUsluge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImeUsluge)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UslugaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UslugaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UslugaID }) |
            @Html.ActionLink("PogledajRacun","Odlazak","Racun", new { id=item.UslugaID},null)
        </td>
    </tr>
}

</table>
