@model IEnumerable<HoteliTest.Models.StavkaRacuna>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.StavkaRacunaID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Usluga.ImeUsluge)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.RacunID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Kolicina)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StavkaRacunaID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Usluga.ImeUsluge)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.RacunID)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.StavkaRacunaID }) |
        @Html.ActionLink("Details", "Details", new { id = item.StavkaRacunaID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.StavkaRacunaID }) |
        @Html.ActionLink("Idi na Racun","Details","Racun",new {id=item.RacunID }, null)
    </td>
</tr>
}

</table>
