@model HoteliTest.Models.Soba

@{
    ViewBag.Title = "Delete";
}

<h2>Obriši</h2>

<h3>Jeste li sigurni da želite obrisati Sobu?</h3>
<div>
    <h4>Soba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hotel.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipSobe.OpisSobe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipSobe.OpisSobe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojSobe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojSobe)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" /> |
            @Html.ActionLink("Natrag", "Index")
        </div>
    }
</div>
